* text=auto

*.rs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.nsh text eol=lf

*.png binary
*.ico binary
*.icns binary
*.exe binary
*.dll binary
